h1 {
  color: red;
}
h2 {
  color: maroon;
}
.important {
  color: grey;
}
.unimportant {
  color: brown;
  width: 220px;
  float: left;
  padding: 15px;
}
.the entire workforce {
  color: yellow;
}
h2 {
  color: blue;
}
@media screen and (min-width: 800px) {
  body {
    background-color: maroon;
  }
}
